/* Navbars */

#nav-bar {
    background-color: #ccd2d9;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    display: none;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    z-index: 1000;
    /* padding-bottom: 5px; */

    .container {
        max-width: var(--max-screen-header-lg);
        margin: 0 auto !important;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    
}

#hide-nav {
    display: flex;
    /* display: none; */
    align-items: center;
    margin : 0 10px;
    /* justify-content: space-between; */
    gap : 20px;
    /* font-size: var(--top_header-frontsize) !important; */
    li {
        list-style-type: none;
        padding-bottom: var(--space-nor);
    }

    li:hover {
        a {
            color: var(--text-header-hover) !important;
        }
    }
}

#navbar-items {
    list-style: none;
    display: flex;
    justify-content: left;
    gap : 15px;
    /* max-width: 80vw; */
    max-width: var(--max-screen-header-lg);
    /* margin : 0 auto !important; */
    display: none;
    z-index: 1000 !important;
    position: sticky;
    align-self: baseline;
    top : 15px;
    left: 0;
    
    /* background-color: #ccd2d9; */
    
    a {
        color: #000;
        text-decoration: none;
    }
    
}

#nav-bar .navbar-item a {
    text-decoration: none;
    color: black;
}

#navbar-items .navbar-item:hover {
    a {
        color: blue;
        /* background-color: darkgray; */
    }
}

#nav-bar .navbar-item:hover {
    span {
        color : blue !important;
    }
}

/* icon */

#icon-navbar {
    /* margin-right : 10vw; */
}
#search-navbar {
    list-style: none;
    font-size: 30px;
    width: 30px;
    /* margin:0 !important */
    /* position: fixed; */
    /* right: 11vw; */
    top : 10px;
}

#close-navbar {
    display: none;
    list-style: none;
    font-size: 30px;
}

/* responsive navbar for tablets */

@media screen and (max-width : 1024px) {

    .layout-left {
        margin-left: 30px !important;
    }

    .layout-right {
        margin-right: 30px !important;
    }

    #navbar-items {
        display: flex;
        flex-direction: column;

        margin: 0 !important;
        justify-content: left;
        margin-left: 0px !important;
        background-color: white;

        padding-top: 50px; 
        padding-left: 40px;
        width: 45vw;
        position: fixed; 

        top: 0;
        left: 0;
        height: 100vh;
        box-sizing: border-box; 
        z-index: 999;

        /* display: none; */
        
    }


    #icon-navbar {
        position: fixed;
        top : 30;
        right: 0;
        margin-right: 75px !important;
        align-items: center !important;
        justify-content: center;
        gap : 10px !important;
    }

    #close-navbar {
        display: block;
        /* margin-left : 30px !important;  */
      }

      #search-navbar {
        margin-right: 10px;
      }


    #navbar-items .navbar-item {
        padding-bottom: 10px;
        padding-top: 10px;
        a {
           border-bottom: 1px solid #333;
        }
        z-index: 999;
    }

    #nav-bar .navbar-item:hover {
        background-color: #ccd2d9;
    }
}

/* responsible navbar for phones */

@media screen and (max-width : 678px) {
    #navbar-items {
        width: 70vw;
    }

    #icon-navbar {
        position: fixed;
        top : 30;
        right: 0;
        margin-right: 20px !important;
    }
}

/* Header */
#header {
    width: 100%;
    overflow: hidden;
    .container{
        background-color: var(--bg--top-header--color) !important;
            /* width: 100%; */
         overflow: hidden;
         margin: 0 !important;
    }
}

#top-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    background-color: var(--bg--top-header--color);
    color: #fff;
    font-size: var(--top_header-frontsize);

    margin: 0 auto !important;
    max-width: var(--max-screen-header-lg) !important;
    
    padding-top : var(--space-sm);
    padding-bottom: var(--space-sm);
    

    li {
        list-style-type: none;
    }
}

#bottom-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    background-color: #f7f9fa;
    color: #000;

    margin: 0 auto !important;
    max-width: var(--max-screen-header-lg ) !important;
    padding-top: var(--space-header-bottom);
    padding-bottom: var(--space-header-bottom);
    /* position: relative; */

    li {
        list-style-type: none;
        padding-bottom: var(--space-nor);
    }
}

#left-header {
    display: flex;
    flex-direction: row;
    gap : var(--space-header-top);
    align-items: center;
    justify-content: center;

    li:hover{
        color: var(--text-header-hover);
    }
}

#right-header {
    display: flex;
    flex-direction: row;
    gap : var(--space-header-top);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    li {
        display: flex;
        gap : 2px;
        align-items: center;
        font-size: 14px;
    }

    li:hover {
        a {
            color: var(--text-header-hover) !important;
        }
    }

    img {
        width: 18px;
        font-size: 16px;
    }
}

#header-nav {
    display: flex;
    flex-direction: row;
    /* gap : 20px; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    >li {
        display: flex;
        margin-right: var(--space-header-bottom);
        align-items: center;

        a {
            text-decoration: none;
            color : #000;
        }
    }

    div{
        margin-left: -12px;
        margin-bottom: 4px;
    }

    li:hover {
        color: var(--text-header-hover);
    }

}


/* responsive for lap */

#header-nav-icon {
    display: none;
}

@media screen and (max-width : 1024px) {
    
    #header-nav{
        display: none;
    }

    #header-nav-icon {
        display: block;
        margin-right: -10px;

        ul {
            display: flex;
            flex-direction: row;    
            align-items: center;   
            gap: 15px;              
            padding: 0;             
            margin: 0;             
            list-style: none;
        }
    }
}

@media screen and (max-width : 678px) {
   #top-header {
        flex-direction: column;
        gap : 8px;
        align-items: first baseline;
   }

   #top-header li {
     font-size: 14px;
   }

   #right-header span {
        font-size: 14px;
   }
}

/* Footer */

#footer {
    background-color: #000;
    color: #fff;
    /* padding: 10px; */
    font-size: 16px !important;
   
    .group-card {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        overflow: hidden;
        max-width : var(--max-screen-header-lg);
        margin : 0 auto !important;
        border-bottom: 1px solid #fff;
        /* font-size: 16px !important; */
        /* width: 80%; */
    }

    .group-card-content {
         padding: 25px 0px;
         max-width : var(--max-screen-header-lg);
         margin : 0 auto !important;
         font-size: 14px !important;
         
    }

    .footer-card {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 75%;

        .footer-content {
            margin-top : 10px;
            line-height: 1.8;
            /* font-size: 16px; */
        }

        ul {
            /* margin-left : 20px;
            margin-top: 20px; */

            li {
                list-style: square;
                margin-top : 12px;
            }
        }
    }

    .tags-title {
        color: white;
        margin-bottom: 20px;
        font-size: 16px !important;
    }

    .tags-list {
        display: flex;       
        flex-wrap: wrap;    
        gap: 10px;        
        font-size: 12px !important;  
    }

    .tag-item {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.3s ease;
        /* font-size: 16px !important; */
    }

    .tag-item:hover {
        background-color: white;
        color: black;
    }

    /* responsive */

    @media screen and (max-width : 1024px) {
        .group-card {
            grid-template-columns: repeat(2,1fr);
            max-width: 90vw;
            /* margin: 0 auto; */
             gap: 0px;
            margin-left: 100px;
        }
    }
    /* for tablets smaill */
    @media screen and (max-width: 900px) and (min-width: 679px) {
        .group-card {
            grid-template-columns: repeat(2, 1fr); 
            max-width: 95vw;
            margin-left: auto;
        }
    }

    /* for phones */

    @media screen and (max-width : 678px) {
        .group-card {
            grid-template-columns: repeat(1,1fr);
            max-width: 90vw;
            margin: 0 auto;
            align-items: center;
        }
    }
}

