/* các class thường dùng */
.layout-left {
    margin-left: 150px !important;
}

.layout-right {
    margin-right: 150px !important;
}

.container {
    margin-left: 10vw !important;
    margin-right: 10vw !important;
    overflow: hidden;
    width: 100%;
}